.container {
    height: 80vh;
    width: 100%;
    padding: 15px 15px 15px 25px;
    overflow: hidden;
}

.mainContent {
    height: 100%;
    display: flex;
    /*align-items: center;*/
}

.leftSection {
    width: 45%;
}

.rightSection {
    width: 55%;
    height: 100%;
}

.sectionTitle {
    font-weight: 500;
    font-size: 18px;

}



.infoLabel {
    font-weight: 600;
    font-size: 13px;
}

.infoGrid {
    display: grid;
    grid-column: 1 / -1; /* Bắt đầu từ cột 1 đến hết */
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 10px;
}

.infoSetting {
    height: 100%;
    overflow: auto;
    display: grid;
    grid-column: 1 / -1; /* Bắt đầu từ cột 1 đến hết */
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 10px;
}

.infoItem {
    margin-bottom: 8px;
}

.actionButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.fieldConfigItem {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: none;
    border-bottom: 1px solid #f0f0f0;
}

.fieldLabel {
    flex: 1;
}

.fieldTitle {
    font-weight: 600;
    margin-bottom: 8px;
}

.optionsContainer {
    margin-top: 8px;
}

.optionTag {
    margin-right: 8px;
    margin-bottom: 4px;
}

.addOptionButton {
    color: #1677ff;
    cursor: pointer;
}

.settingsContainer {
    display: flex;
    align-items: center;
    gap: 24px;
    min-width: 300px;
    justify-content: flex-end;
}

.settingItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
